<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginAdministrador</servlet-name>
        <servlet-class>controller.LoginAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAluno</servlet-name>
        <servlet-class>controller.LoginAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjetoController</servlet-name>
        <servlet-class>controller.ProjetoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TarefaController</servlet-name>
        <servlet-class>controller.TarefaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAdministrador</servlet-name>
        <url-pattern>/LoginAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAluno</servlet-name>
        <url-pattern>/LoginAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjetoController</servlet-name>
        <url-pattern>/ProjetoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TarefaController</servlet-name>
        <url-pattern>/TarefaController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
